{% if user.is_authenticated %}
<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link link-light"> {{ user.username }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>
    </ul>
</form>

{% else %}
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'login' %}">Log in</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'register' %}">Registration</a>
    </li>
</ul>

{% endif %}
